<h1>Gracias {{user.0.username}}</h1>

<h2>Tu cuenta ha sido activada</h2>

<style>
  body {
  background-image:url(https://res.cloudinary.com/ebg-ester/image/upload/v1565278023/bg_.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: -webkit-fill-available;
  }


  </style>