<div class="container-fluid margin-top">

  <div class="row">
    {{#each places}}
    <figure class="col-6 images">
      <a href="/place/{{_id}}"><img class="index-images" src="{{url}}" id="{{name}}"></a>
    </figure>
    {{/each}}
  </div>
</div>