<div class="container-fluid">
  <div class="row">
    {{#each places}}
    <div class="col-4 images">
      <a href="/place/{{_id}}"><img class="index-images" src="{{url}}" id="{{name}}"></a>
    </div>
    {{/each}}
  </div>
</div>