<h1>¡Gracias por registrarte!</h1>

<p>Acabamos de enviarte un correo electrónico para confirmar tu cuenta. Revisa tu bandeja de entrada</p>

<a href="/login">Acceder a la cuenta</a>

<style>
  body {
  background-image:url(https://res.cloudinary.com/ebg-ester/image/upload/v1565278023/bg_.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: -webkit-fill-available;
  }

  </style>