
<article class="first-article">
  <p>Bienvenido a {{title}}</p>
<p><i>Elige una foto, descubre su localización y los mejores hoteles y empieza a planear tu viaje</i></Choose>
</p>
</article>

<div class="filters">
  <a href="/category/naturaleza" role="button" class="btn btn-outline-dark" id="nat">Naturaleza</a>
  <a href="/category/ciudad" role="button" class="btn btn-outline-dark">Ciudad</a>
  <a href="/category/playa" role="button" class="btn btn-outline-dark">Playa</a>
</div>

<div class="filters">
  <a href="/category/gastronomia" role="button" class="btn btn-outline-dark">Gastro</a>
  <a href="/category/cultural" role="button" class="btn btn-outline-dark">Cultural</a>
  <a href="/category/sorpresa" role="button" class="btn btn-outline-dark">Sorpresa</a>
</div>

<div class="container-fluid">
  <div class="row ">
    {{#each places}}
    <figure class="col-6 images">
      <a href="/place/{{_id}}"><img class="index-images" src="{{url}}" id="{{name}}"></a>
    </figure>
    {{/each}}
  </div>
</div>