<p>Welcome to {{title}}</p>
<p><i>Choose a picture, discover it's location and get ready to plan your trip</i></Choose>
</p>
<div class="container">
  <div class="row">
    <div class="col-4">
      <a href="/category/naturaleza" role="button" class="btn btn-outline-dark" id="nat">Naturaleza</a>
    </div>
    <div class="col-4">
      <a href="/category/ciudad" role="button" class="btn btn-outline-dark">Ciudad</a>
    </div>
    <div class="col-4">
      <a href="/category/playa" role="button" class="btn btn-outline-dark">Sol y Playa</a>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-4 filters">
      <a href="/category/gastronomia" role="button" class="btn btn-outline-dark">Gastronomía</a>
    </div>
    <div class="col-4 filters">
      <a href="/category/cultural" role="button" class="btn btn-outline-dark">Cultural</a>
    </div>
    <div class="col-4 filters">
      <a href="/category/sorpresa" role="button" class="btn btn-outline-dark">Sorpresa</a>
      <!--OJOOOOOOOO-->
    </div>
  </div>

  <div class="container-fluid">
    <div class="row ">
      {{#each places}}
      <div class="col-4 images">
        <a href="/place/{{_id}}"><img class="index-images" src="{{url}}" id="{{name}}"></a>
      </div>
      {{/each}}
    </div>
  </div>