
 <div class="container-fluid">
    <div class="row ">
      {{#each flyInfo.data}}
      <p>Destino {{destination}}</p>
      {{/each}}
    </div>
  </div>
    
{{!--     
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="javascripts/financial-data.js"></script> --}}