<h2 class="margin-top">Enhorabuena, has elegido un lugar maravilloso</h2>
<figure><img class="choice" src="{{place.url}}"></figure>
<h4>Tu lugar escogido se encuentra en {{place.localization}}</h4>
<a class="btn  btn-outline-dark space-buttons" role="button" href="/info/{{place._id}}">Buscar hotel</a>
<figure id="map" class="map"></figure>
<hr>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDG88rK2sVwRDbZIJautuIZpNt32kAQpSU"></script>
<script src="/javascripts/main.js"></script>