<h1>Agradecimientos a nuestros TA favoritos: </h1>

<h2>Teo y Ralu</h2>
<p><img class="trolteo" src="https://res.cloudinary.com/ebg-ester/image/upload/v1565342278/mexiteo.jpg">
<img class="trolteo" src="https://res.cloudinary.com/ebg-ester/image/upload/v1565342974/raluprincess.jpg" >
</p>
