body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.index-images {
  width: 100%;
}
div {
  margin-bottom: 3%;
}
.choice {
  width:60%
}
.map {
  width: 100%;
  height: 400px;
}