body {
  padding-bottom: 50px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  width: 100vw;
}
nav {
  width: 100vw;
  display: flex;
  background-color: white;
  z-index: 9000;
  overflow: hidden;
  position: fixed;
  top: 0;
}

.nav-right {
  margin-left: 40%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.nav-icon {
  margin-left: 5%;
}

.margin-top {
  margin-top: 10%;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: scroll;
}

.first-article {
  text-align: center;
  width: 90%;
}

article {
  margin: 5% auto;
  width: 60%;
  text-align: left;
}
article h2,
h3 {
  margin: 2%;
}

.filters {
  margin: 0 auto;
  a {
    position: relative;
    margin: 2%;
  }
}

a {
  color: RGBA(0, 0, 0, 80);
  border: 1px;
  border-color: black;
  &:hover {
    text-decoration: none;
  }
}

figure .index-images {
  max-width: 85%;
  max-height: auto;
}

figure .index-images:hover {
  transform: scale(1.1);
  transition: 200ms ease-in-out;
}

.images {
  margin: 2% auto;
}

.choice {
  width: 60%;
}
.map {
  width: 80%;
  height: 400px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 3%;
}
h1{
  margin-top: 2em;
}

.hidden {
  display: none;
}

///class de la pagina privado
.privart {
  display: flex;
  width: 30%;
  height: 100vh;
}

.login {
  margin-left: 15vw;
}

.form-login {
  margin-left: 50%;
  margin-right: 1%;
  margin-top: 10%;
}

.signup-form {
  margin-left: -75%;
  margin-top: 10%;
}


////Private Page

.destino {
  width:60%;
  border: 1px solid black ;
  padding: 2%;
}
.space-buttons {
  text-align: center;
  margin-bottom: 2%
}


// Responsive VisualTravel

@media (max-width: 600px) {
  .nav-icon {
    font-size: 1.1em;
    margin-top: 5%;
  }
}
@media (max-width: 415px) {
  .nav-icon {
    display: none;
  }
}
